/* general */
body {
  /* padding: 0; */
  margin: 0;
  margin-top: -22px;
}

.tittle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* menu */
.menu_over {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  transition: top 1s ease;
}

.menu_box {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;

  background-color: bisque;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  border-radius: 25px;

}

.menu_box .tittle {
  font-size: 50px;
}

/* char selection */
.selection_overlay {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("./assets/backgrounds/temp/char.jpg");
  /* background-color: blueviolet; */
  background-size: 70vw;

  display: flex;
  transition: top 0.5s ease-out;
}

.selection_banner {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 50; */

  width: 100vw;
  height: 15%;

  background-color: #e68453;

  overflow: hidden;
  /* hide all scrollbars and overflow */
  white-space: nowrap;

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.selection_banner::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.banner_tekst {
  margin: 0;
  font-size: 13.5vh;
  line-height: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.selection_chars {
  position: absolute;
  top: 20vh;
  left: 2vw;

  width: 96vw;
  height: 75vh;

  background-color: green;
}

.selection_chars div {
  max-height: 45%;

}

.selection_chars div img {
  max-height: 70px;
}

/* shop */

/* play area */
.playarea {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.chararea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
}

.areas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: darkgreen */

}

.areas:nth-child(2) {
  /* position: absolute;
  top: 0; */
  left: 50%;
  /* width: 50%;
  height: 100%; */
  background-color: darkred;
  transform: scaleX(-1);

}

.areas .char_indiv:nth-child(1) {
  top: 30%;
  left: 66%;
}

.areas .char_indiv:nth-child(2) {
  top: 1%;
  left: 33%;
}

.areas .char_indiv:nth-child(3) {
  top: 50%;
  left: 33%;
}

.areas .char_indiv:nth-child(4) {
  top: 30%;
  left: 1%;
}

.areas .char_indiv:nth-child(n+5) {
  top: 30%;
  left: -30%;
  display: none;
}

.areas:nth-child(2) .char_indiv {
  transform: scaleX(-1);
}



.char_indiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: bisque;
  position: absolute;
  user-select: none;
  transition: top 1s ease;
}

.char_indiv img {
  max-width: 100%;
  max-height: 100%;

}

.char_indiv div:nth-child(1) {

  background-color: grey;
}

.char_indiv div:nth-child(1) div {
  background-color: greenyellow;
  transition: all 1s ease-out;
}
/* controls -------------------------------------------------------------------------------------------*/

.controls {
  position: absolute;
  top: 70vh;
  left: 0;
  z-index: 20;

  width: 100vw;
  height: 30vh;
  background-color: aqua;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.controls button{
  height: 90%;
  width: 20%;
background-color: rgb(83, 83, 211);
}
.controls button:nth-child(n+4){
  background-color: rgb(212, 103, 103);
}