/* general */
body {
  /* padding: 0; */
  margin: 0;
  margin-top: -22px;
  background-image: url(./assets/backgrounds/temp/feild.jpg);
  background-size: cover;
  background-position: center top ;
}

.tittle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* menu */
.menu_over {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  transition: top 1s ease;
}

.menu_box {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;

  background-color: bisque;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  border-radius: 25px;

}

.menu_box .tittle {
  font-size: 50px;
}

/* char selection */
.selection_overlay {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("./assets/backgrounds/temp/char.jpg");
  /* background-color: blueviolet; */
  background-size: 70vw;

  display: flex;
  transition: top 0.5s ease-out;
}

.selection_banner {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 50; */

  width: 100vw;
  height: 15%;

  background-color: #e68453;

  overflow: hidden;
  /* hide all scrollbars and overflow */
  white-space: nowrap;

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.selection_banner::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.banner_tekst {
  margin: 0;
  font-size: 13.5vh;
  line-height: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.selection_chars {
  position: absolute;
  top: 20vh;
  left: 2vw;

  width: 96vw;
  height: 75vh;

  background-color: green;
}

.selection_chars div {
  max-height: 45%;

}

.selection_chars div img {
  max-height: 70px;
}

/* shop */
.shop{
position: fixed;
z-index: 33;
top: 100vh;
left: 0;
width: 100vw;
height: 100vh;
transition: top 1s ease;
background-image: url(assets/backgrounds/temp/shop.jpg);
background-size: cover;
}
.c_cont{
  position: absolute;
  top: 2%;
  right: 2%;
  max-height: 10%;
}
.c_cont img{
  height: 50px;
  aspect-ratio: 1/1;
}
.shop_items{
  position: absolute;
  top: 14%;
  right: 2%;
  width: 96%;
  height:80% ;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-items: center;
/* background-color: blue; */
}
.shop_items div{
/* background-color: brown; */
width: 30%;
aspect-ratio: 6/4;
}
.shop_items div img{
  width:100% ;
}
#shop_exit{
background-color: red;
color: aqua;
padding: 10px;
position: absolute;
bottom: 2%;
right: 2%;
}

/* path decicion */

.pathsover {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background-image:url(./assets/backgrounds/temp/map.jpg);
  background-size: cover;
  transition: top 1s ease;

}

.btn_bx {
  display: flex;
  position: absolute;
  /* background-color: red; */
  width: 90%;
  height: 60%;
  left: 5%;
  top: 20%;

  justify-content: space-evenly;
  align-items: center;
}

.btn_bx button {
  height: 80%;
  border-radius: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
   background: none;
}

.btn_bx button:hover {
  height: 75%;
  transition: height 0.2s ease;
}

.btn_bx button img {
  max-width: 70.7%;
  max-height: 70.7%;
  /* 1/root2 */
}

/* backpack */
.items_over {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  width: 100vw;
  height: 100vh;

  background-color: rgba(27, 22, 22, 0.6);
  /* pointer-events: none; */
}

.backpack {
  height: 70vh;
  width: 60vw;

  margin: 0 auto;
  margin-top: 10vh;

  background-image: url(assets/backgrounds/temp/char.jpg);
  border: #e68453 solid 5px;
  border-radius: 25px;

  pointer-events: all;
  position: relative;
}

.pack_ux {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 10%;
}

.pack_ux button {
  position: inherit;

  height: 80%;
  aspect-ratio: 1/1;

  top: 10%;
  right: 2%;

  color: red;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  background-color: #cfaa73;
  border: none;
}

#item_content {
  display: flex;
  position: absolute;
  top: 11%;
  left: 1%;
  width: 98%;
  height: 88%;
  background-color: #cfaa73;
  border-radius: 15px;
}

.yesitem {
  flex-flow: row wrap;

}

.noitem {
  color: dimgray;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
}

/* play area */
.playarea {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.turns {
  position: absolute;
  top: -15%;
  left: 40%;
  z-index: 15;
  border-radius: 20px;
  transition: top 1s ease-in-out, opacity 0.5s ease;
  width: 9%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position: absolute;
  top: -15%;
  left: 51%;
  z-index: 15;
  border-radius: 20px;
  transition: top 1s ease-in-out, opacity 0.5s ease;
  width: 9%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;

}

.chararea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
}

.areas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: darkgreen */

}

.areas:nth-child(2) {
  /* position: absolute;
  top: 0; */
  left: 50%;
  /* width: 50%;
  height: 100%; */
  /* background-color: darkred; */
  transform: scaleX(-1);

}

.areas .char_indiv:nth-child(1) {
  top: 30%;
  left: 66%;
}

.areas .char_indiv:nth-child(2) {
  top: 1%;
  left: 33%;
}

.areas .char_indiv:nth-child(3) {
  top: 50%;
  left: 33%;
}

.areas .char_indiv:nth-child(4) {
  top: 30%;
  left: 1%;
}

.areas .char_indiv:nth-child(n+5) {
  top: 30%;
  left: -30%;
  display: none;
}

.areas:nth-child(2) .char_indiv {
  transform: scaleX(-1);
}



.char_indiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: bisque;
  position: absolute;
  user-select: none;
  transition: top 1s ease, left 1s ease, opacity 0.5s ease;
}

.char_indiv img {
  max-width: 100%;
  max-height: 100%;

}

.char_indiv div:nth-child(1) {

  background-color: grey;
}

.char_indiv div:nth-child(1) div {
  background-color: greenyellow;
  transition: all 1s ease-out;
}

.boon_unlock {
  position: fixed;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  /* border: solid black 2px; */
  background-color:  rgba(30, 30, 30, 0.74);


  transition: top 1s ease;
}

.boon_unlock #boon_unlock_img {
  width: 200px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 30%;
  left: calc((100vw - 200px)/2);
}

.boon_unlock #b_unlock_continue {
position: absolute;
width: 12%;
  background-color: rgb(83, 83, 211);
  padding: 5px;
  opacity: 0%;
  transition: opacity 1s ease-out;
  top: 75%;
  left:44% ;

}

/* controls -------------------------------------------------------------------------------------------*/

.controls {
  position: absolute;
  top: 70vh;
  left: 0;
  z-index: 20;

  width: 100vw;
  height: 30vh;
  background-color: aqua;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: top 0.5s ease-out;
}

.controls button {
  height: 90%;
  width: 20%;
  background-color: rgb(83, 83, 211);
  border-radius: 20px;
}

.controls button:nth-child(n+4) {
  background-color: rgb(212, 103, 103);
}