/* general */
body {
    /* padding: 0; */
    margin: 0;
    margin-top: -22px;
}
.tittle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* menu */
.menu_over {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    transition: top 1s ease;
}

.menu_box {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
  
    background-color: bisque;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content:space-around ;
    padding: 10px;

    border-radius: 25px;
    
}
.menu_box .tittle{
    font-size: 50px;
}
/* char selection */
.selection_overlay {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  /* background-image: url(); */
  background-color: blueviolet;
  background-size: 70vw;

  display: flex;

}
.selection_banner {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 15%;

  background-color: #e68453;

  overflow: hidden; /* hide all scrollbars and overflow */
  white-space: nowrap;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.selection_banner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.banner_tekst {
  margin: 0;
  font-size: 13.5vh;
  line-height: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}